
<template>
  <BasicLayout>
    <template #wrapper>
      <el-card class="box-card">
        <el-form ref="queryForm" :model="queryParams" :inline="true">
          <el-form-item
            label="小区"
            prop="communityId"
          ><el-select v-model="queryParams.communityId" placeholder="请选择">
            <el-option
              v-for="dict in communityIdOptions"
              :key="dict.key"
              :label="dict.value"
              :value="dict.key * 1"
            />
          </el-select>
          </el-form-item>
          <el-form-item
            label="房号"
            prop="room_id"
          ><el-select v-model="queryParams.room_id" placeholder="请选择">
            <el-option
              v-for="dict in room_idOptions"
              :key="dict.key"
              :label="dict.value"
              :value="dict.key * 1"
            />
          </el-select>
          </el-form-item>
          <el-form-item
            label="状态"
            prop="status"
          ><el-select
            v-model="queryParams.status"
            placeholder="入住管理状态"
            clearable
            size="small"
          >
            <el-option
              v-for="dict in statusOptions"
              :key="dict.dictValue"
              :label="dict.dictLabel"
              :value="dict.dictValue * 1"
            />
          </el-select>
          </el-form-item>

          <el-form-item>
            <el-button
              type="primary"
              icon="el-icon-search"
              size="mini"
              @click="handleQuery"
            >搜索</el-button>
            <el-button
              icon="el-icon-refresh"
              size="mini"
              @click="resetQuery"
            >重置</el-button>
          </el-form-item>
        </el-form>

        <el-row :gutter="10" class="mb8">
          <el-col :span="1.5">
            <el-button
              v-permisaction="['admin:syscheck:add']"
              type="primary"
              icon="el-icon-plus"
              size="mini"
              @click="handleAdd"
            >新增
            </el-button>
          </el-col>
          <el-col :span="1.5">
            <el-button
              v-permisaction="['admin:syscheck:edit']"
              type="success"
              icon="el-icon-edit"
              size="mini"
              :disabled="single"
              @click="handleUpdate"
            >修改
            </el-button>
          </el-col>
          <el-col :span="1.5">
            <el-button
              v-permisaction="['admin:syscheck:remove']"
              type="danger"
              icon="el-icon-delete"
              size="mini"
              :disabled="multiple"
              @click="handleDelete"
            >删除
            </el-button>
          </el-col>
        </el-row>

        <el-table
          v-loading="loading"
          :data="syscheckList"
          @selection-change="handleSelectionChange"
        >
          <el-table-column
            type="selection"
            width="55"
            align="center"
          /><el-table-column
            label="小区"
            align="center"
            prop="communityId"
            :formatter="communityIdFormat"
            width="100"
          >
            <template slot-scope="scope">
              {{ communityIdFormat(scope.row) }}
            </template> </el-table-column><el-table-column
            label="房号"
            align="center"
            prop="room_id"
            :formatter="room_idFormat"
            width="100"
          >
            <template slot-scope="scope">
              {{ room_idFormat(scope.row) }}
            </template> </el-table-column><el-table-column
            label="业主"
            align="center"
            prop="proprietorId"
            :formatter="proprietorIdFormat"
            width="100"
          >
            <template slot-scope="scope">
              {{ proprietorIdFormat(scope.row) }}
            </template> </el-table-column><el-table-column
            label="状态"
            align="center"
            prop="status"
            :formatter="statusFormat"
            width="100"
          >
            <template slot-scope="scope">
              {{ statusFormat(scope.row) }}
            </template> </el-table-column><el-table-column
            label="创建时间"
            align="center"
            prop="createdAt"
            :show-overflow-tooltip="true"
          />
          <el-table-column
            label="操作"
            align="center"
            class-name="small-padding fixed-width"
          >
            <template slot-scope="scope">
              <el-button
                v-if="scope.row.status === 2"
                v-permisaction="['admin:syscheck:edit']"
                style="color: grey"
                disabled
                size="mini"
                type="text"
                icon="el-icon-edit"
                @click="handleBill(scope.row)"
              >账单
              </el-button>
              <el-button
                v-else
                v-permisaction="['admin:syscheck:edit']"
                size="mini"
                type="text"
                icon="el-icon-edit"
                @click="handleBill(scope.row)"
              >账单
              </el-button>
              <el-button
                v-if="scope.row.status === 2"
                v-permisaction="['admin:syscheck:edit']"
                style="color: grey"
                disabled
                size="mini"
                type="text"
                icon="el-icon-edit"
                @click="handleCheckout(scope.row)"
              >退房
              </el-button>
              <el-button
                v-else
                v-permisaction="['admin:syscheck:edit']"
                size="mini"
                type="text"
                icon="el-icon-edit"
                @click="handleCheckout(scope.row)"
              >退房
              </el-button>
              <el-button
                v-permisaction="['admin:syscheck:remove']"
                size="mini"
                type="text"
                icon="el-icon-delete"
                @click="handleDelete(scope.row)"
              >删除
              </el-button>
            </template>
          </el-table-column>
        </el-table>

        <pagination
          v-show="total > 0"
          :total="total"
          :page.sync="queryParams.pageIndex"
          :limit.sync="queryParams.pageSize"
          @pagination="getList"
        />

        <!-- 账单 -->
        <el-dialog :title="title" :visible.sync="openBill" width="500px">
          <el-row type="flex" justify="center" align="middle">
            <el-col :span="8">
              <el-button
                type="primary"
                icon="el-icon-document"
                size="medium"
                @click="handleRentBill"
              >
                房租账单
              </el-button>
            </el-col>
            <el-col :span="8">
              <el-button
                type="primary"
                icon="el-icon-document"
                size="medium"
                @click="handleOtherBill"
              >
                其他账单
              </el-button>
            </el-col>
          </el-row>
        </el-dialog>

        <!-- 建立其他账单 -->
        <el-dialog :title="title" :visible.sync="openOtherBill" width="500px">
          <el-form
            ref="otherBillForm"
            :model="otherBillForm"
            :rules="rules"
            label-width="80px"
          >
            <el-form-item label="房号" prop="room_id">
              <el-select v-model="otherBillForm.room_id" disabled placeholder="请选择">
                <el-option
                  v-for="dict in room_idOptions"
                  :key="dict.key"
                  :label="dict.value"
                  :value="dict.key * 1"
                />
              </el-select>
            </el-form-item>
            <el-form-item label="业主" prop="proprietor">
              <el-input v-model="otherBillForm.proprietor" disabled placeholder="业主" />
            </el-form-item>
            <el-form-item label="费用类型" prop="fee_type_id">
              <el-select
                v-model="otherBillForm.fee_type_id"
                placeholder="请选择"
              >
                <el-option
                  v-for="dict in fee_type_idOptions"
                  :key="dict.key"
                  :label="dict.value"
                  :value="dict.key * 1"
                />
              </el-select>
            </el-form-item>
            <!-- <el-form-item label="上次度数" prop="last_degree">
              <el-input
                v-model="otherBillForm.last_degree"
                placeholder="上次度数"
              />
            </el-form-item> -->
            <el-form-item label="今次度数" prop="new_degree">
              <el-input
                v-model.number="otherBillForm.new_degree"
                placeholder="今次度数"
              />
            </el-form-item>
            <!-- <el-form-item label="上次读时" prop="last_read_time">
              <el-date-picker
                v-model="otherBillForm.last_read_time"
                type="datetime"
                placeholder="选择日期"
              >
              </el-date-picker>
            </el-form-item>
            <el-form-item label="今次读时" prop="new_read_time">
              <el-date-picker
                v-model="otherBillForm.new_read_time"
                type="datetime"
                placeholder="选择日期"
              >
              </el-date-picker>
            </el-form-item> -->
            <!-- <el-form-item label="应收账款" prop="acc_receivable">
              <el-input
                v-model="otherBillForm.acc_receivable"
                placeholder="应收账款"
              />
            </el-form-item> -->
            <!-- <el-form-item label="状态" prop="status">
              <el-select v-model="otherBillForm.status" placeholder="请选择">
                <el-option
                  v-for="dict in statusOptions"
                  :key="dict.dictValue"
                  :label="dict.dictLabel"
                  :value="dict.dictLabel"
                />
              </el-select>
            </el-form-item> -->
          </el-form>
          <div slot="footer" class="dialog-footer">
            <el-button
              type="primary"
              @click="submitOtherBillForm"
            >确 定</el-button>
            <el-button @click="cancel">取 消</el-button>
          </div>
        </el-dialog>

        <!-- 添加或修改对话框 -->
        <el-dialog :title="title" :visible.sync="open" width="500px">
          <el-form ref="form" :model="form" :rules="rules" label-width="80px">
            <el-form-item label="小区" prop="communityId">
              <el-select
                v-model="form.communityId"
                disabled
                placeholder="请选择"
              >
                <el-option
                  v-for="dict in communityIdOptions"
                  :key="dict.key"
                  :label="dict.value"
                  :value="dict.key"
                />
              </el-select>
            </el-form-item>
            <el-form-item label="房号" prop="room_id">
              <el-select v-model="form.room_id" disabled placeholder="请选择">
                <el-option
                  v-for="dict in room_idOptions"
                  :key="dict.key"
                  :label="dict.value"
                  :value="dict.key"
                />
              </el-select>
            </el-form-item>
            <el-form-item label="业主" prop="name">
              <el-input v-model="form.name" disabled placeholder="业主" />
            </el-form-item>
            <el-form-item label="状态" prop="status">
              <el-select v-model="form.status" placeholder="请选择">
                <el-option
                  v-for="dict in statusOptions"
                  :key="dict.dictLabel"
                  :label="dict.dictLabel"
                  :value="dict.dictValue * 1"
                />
              </el-select>
            </el-form-item>
          </el-form>
          <div slot="footer" class="dialog-footer">
            <el-button type="primary" @click="submitForm">确 定</el-button>
            <el-button @click="cancel">取 消</el-button>
          </div>
        </el-dialog>
        <FileChoose
          ref="fileChoose"
          :dialog-form-visible="fileOpen"
          @confirm="getImgList"
          @close="fileClose"
        />
      </el-card>
    </template>
  </BasicLayout>
</template>

<script>
import {
  addSysCheck,
  delSysCheck,
  getSysCheck,
  listSysCheck,
  updateSysCheck,
  checkOut
} from '@/api/syscheck'
import { listSysCommunity } from '@/api/syscommunity'

import { listSysRoom } from '@/api/sysroom'

import { listSysProprietor } from '@/api/sysproprietor'

import { addSysRentBill } from '@/api/sysrentbill'

import { addSysOtherBill, updateSysOtherBill } from '@/api/sysotherbill'

import { listSysFeeSetting } from '@/api/sysfeesetting'

import FileChoose from '@/components/FileChoose'

export default {
  name: 'SysCheck',
  components: {
    FileChoose
  },
  data() {
    return {
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 总条数
      total: 0,
      // 弹出层标题
      title: '',
      // 是否显示弹出层
      open: false,
      openBill: false,
      openOtherBill: false,
      isEdit: false,
      fileOpen: false,
      fileIndex: undefined,
      // 类型数据字典
      typeOptions: [],
      syscheckList: [],
      statusOptions: [],
      billStatusOptions: [],
      // 关系表类型
      communityIdOptions: [],
      room_idOptions: [],
      proprietorIdOptions: [],
      fee_type_idOptions: [],

      // 查询参数
      queryParams: {
        pageIndex: 1,
        pageSize: 10,
        communityId: undefined,
        room_id: undefined,
        status: undefined
      },
      // 表单参数
      form: {},
      tmpForm: {},
      otherBillForm: {},
      // 表单校验
      rules: {
        communityId: [
          { required: true, message: '小区不能为空', trigger: 'blur' }
        ],
        room_id: [{ required: true, message: '房号不能为空', trigger: 'blur' }],
        status: [{ required: true, message: '状态不能为空', trigger: 'blur' }]
      }
    }
  },
  created() {
    this.getList()
    this.getSysCommunityItems()

    this.getSysRoomItems()

    this.getSysProprietorItems()

    this.getSysFeeSettingItems()

    this.getDicts('sys_check_status').then((response) => {
      this.statusOptions = response.data
    })

    this.getDicts('sys_bill_status').then((response) => {
      this.billStatusOptions = response.data
    })
  },
  methods: {
    /** 查询参数列表 */
    getList() {
      this.loading = true
      listSysCheck(this.addDateRange(this.queryParams, this.dateRange)).then(
        (response) => {
          this.syscheckList = response.data.list
          this.total = response.data.count
          this.loading = false
        }
      )
    },
    // 取消按钮
    cancel() {
      this.open = false
      this.openOtherBill = false
      this.reset()
    },
    // 表单重置
    reset() {
      this.form = {
        ID: undefined,
        communityId: undefined,
        room_id: undefined,
        proprietorId: undefined,
        status: undefined
      }
      this.resetForm('form')
    },
    getImgList: function() {
      this.form[this.fileIndex] = this.$refs[
        'fileChoose'
      ].resultList[0].fullUrl
    },
    fileClose: function() {
      this.fileOpen = false
    },
    communityIdFormat(row) {
      return this.selectItemsLabel(this.communityIdOptions, row.communityId)
    },
    room_idFormat(row) {
      return this.selectItemsLabel(this.room_idOptions, row.room_id)
    },
    proprietorIdFormat(row) {
      return this.selectItemsLabel(this.proprietorIdOptions, row.proprietorId)
    },
    statusFormat(row) {
      return this.selectDictLabel(this.statusOptions, row.status)
    },
    fee_type_idFormat(row) {
      return this.selectItemsLabel(this.fee_type_idOptions, row.fee_type_id)
    },
    // 关系
    getSysCommunityItems() {
      this.getItems(listSysCommunity, undefined).then((res) => {
        this.communityIdOptions = this.setItems(res, '', '')
      })
    },
    getSysRoomItems() {
      this.getItems(listSysRoom, undefined).then((res) => {
        this.room_idOptions = this.setItems(res, '', '')
      })
    },
    getSysProprietorItems() {
      this.getItems(listSysProprietor, undefined).then((res) => {
        this.proprietorIdOptions = this.setItems(res, '', '')
      })
    },
    getSysFeeSettingItems() {
      this.getItems(listSysFeeSetting, undefined).then((res) => {
        this.fee_type_idOptions = this.setItems(res, '', '')
      })
    },
    // 文件
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageIndex = 1
      this.getList()
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.dateRange = []
      this.resetForm('queryForm')
      this.handleQuery()
    },
    /** 新增按钮操作 */
    handleAdd() {
      this.reset()
      this.open = true
      this.title = '添加入住'
      this.isEdit = false
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map((item) => item.id)
      this.single = selection.length !== 1
      this.multiple = !selection.length
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.reset()
      const ID = row.id || this.ids
      getSysCheck(ID).then((response) => {
        this.form = response.data
        this.form.name = this.proprietorIdFormat(row)
        this.open = true
        this.title = '修改入住'
        this.isEdit = true
      })
    },

    // 建立账单
    handleBill(row) {
      this.reset()
      this.openBill = true
      this.title = '建立账单'
      this.isEdit = true
      this.tmpForm = row
      this.otherBillForm.room_id = row.room_id
      this.otherBillForm.proprietorId = row.proprietorId
    //   console.log(this.otherBillForm)
    },

    handleOtherBill() {
      this.reset()
      this.openOtherBill = true
      this.title = '建立其他账单'
      this.isEdit = true
      this.otherBillForm.proprietor = this.selectItemsLabel(this.proprietorIdOptions, this.otherBillForm.proprietorId)

      console.log(this.otherBillForm)
    //   this.otherBillForm = row
    },

    handleRentBill() {
      var row = this.tmpForm
      //   var Ids = row.id || this.ids;
      var proName = this.proprietorIdFormat(row)
      this.$confirm('是否确认为"' + proName + '"建立房租账单?', '警告', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      })
        .then(function() {
          return addSysRentBill({
            room_id: row.room_id,
            proprietor: proName,
            status: 1 // 待付款
          })
        })
        .then(() => {
          this.getList()
          this.msgSuccess('建立房租账单成功')
          this.openBill = false
        })
        .catch(function() {})
    },

    // 退房
    handleCheckout(row) {
      var Ids = row.id || this.ids
      var proName = this.proprietorIdFormat(row)
      this.$confirm('是否确认为"' + proName + '"退房?', '警告', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      })
        .then(function() {
          return checkOut({
            id: Ids,
            proprietorId: row.proprietorId,
            status: 2
          })
        })
        .then(() => {
          this.getList()
          this.msgSuccess('退房成功')
        })
        .catch(function() {})
    },
    /** 提交按钮 */
    submitForm: function() {
      this.$refs['form'].validate((valid) => {
        if (valid) {
          if (this.form.id !== undefined) {
            updateSysCheck(this.form).then((response) => {
              if (response.code === 200) {
                this.msgSuccess('修改成功')
                this.open = false
                this.getList()
              } else {
                this.msgError(response.msg)
              }
            })
          } else {
            addSysCheck(this.form).then((response) => {
              if (response.code === 200) {
                this.msgSuccess('新增成功')
                this.open = false
                this.getList()
              } else {
                this.msgError(response.msg)
              }
            })
          }
        }
      })
    },

    submitOtherBillForm: function() {
      this.$refs['otherBillForm'].validate((valid) => {
        if (valid) {
          if (this.otherBillForm.id !== undefined) {
            updateSysOtherBill(this.otherBillForm).then((response) => {
              if (response.code === 200) {
                this.msgSuccess('修改成功')
                this.openOtherBill = false
                this.openBill = false
                this.getList()
              } else {
                this.msgError(response.msg)
              }
            })
          } else {
            addSysOtherBill(this.otherBillForm).then((response) => {
              if (response.code === 200) {
                this.msgSuccess('新增成功')
                this.openOtherBill = false
                this.openBill = false
                this.getList()
              } else {
                this.msgError(response.msg)
              }
            })
          }
        }
      })
    },
    /** 删除按钮操作 */
    handleDelete(row) {
      var Ids = (row.id && [row.id]) || this.ids

      this.$confirm('是否确认删除编号为"' + Ids + '"的数据项?', '警告', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      })
        .then(function() {
          return delSysCheck({ ids: Ids })
        })
        .then(() => {
          this.getList()
          this.msgSuccess('删除成功')
        })
        .catch(function() {})
    }
  }
}
</script>
