
<template>
  <BasicLayout>
    <template #wrapper>
      <el-card class="box-card">
        <el-form
          ref="queryForm"
          :model="queryParams"
          :inline="true"
        >
          <el-form-item
            label="成员名字"
            prop="name"
          ><el-input
            v-model="queryParams.name"
            placeholder="请输入成员名字"
            clearable
            size="small"
            @keyup.enter.native="handleQuery"
          />
          </el-form-item>
          <el-form-item
            label="身份证号"
            prop="identity_num"
          ><el-input
            v-model="queryParams.identity_num"
            placeholder="请输入身份证号"
            clearable
            size="small"
            @keyup.enter.native="handleQuery"
          />
          </el-form-item>
          <el-form-item
            label="联系电话"
            prop="phone_num"
          ><el-input
            v-model="queryParams.phone_num"
            placeholder="请输入联系电话"
            clearable
            size="small"
            @keyup.enter.native="handleQuery"
          />
          </el-form-item>
          <el-form-item
            label="关联业主"
            prop="proprietor_id"
          ><el-select v-model="form.proprietor_id" placeholder="请选择">
            <el-option
              v-for="dict in proprietor_idOptions"
              :key="dict.key"
              :label="dict.value"
              :value="dict.key"
            />
          </el-select>
          </el-form-item>

          <el-form-item>
            <el-button
              type="primary"
              icon="el-icon-search"
              size="mini"
              @click="handleQuery"
            >搜索</el-button>
            <el-button
              icon="el-icon-refresh"
              size="mini"
              @click="resetQuery"
            >重置</el-button>
          </el-form-item>
        </el-form>

        <el-row :gutter="10" class="mb8">
          <!-- <el-col :span="1.5">
            <el-button
              v-permisaction="['admin:sysentourage:add']"
              type="primary"
              icon="el-icon-plus"
              size="mini"
              @click="handleAdd"
              >新增
            </el-button>
          </el-col> -->
          <el-col :span="1.5">
            <el-button
              v-permisaction="['admin:sysentourage:edit']"
              type="success"
              icon="el-icon-edit"
              size="mini"
              :disabled="single"
              @click="handleUpdate"
            >修改
            </el-button>
          </el-col>
          <el-col :span="1.5">
            <el-button
              v-permisaction="['admin:sysentourage:remove']"
              type="danger"
              icon="el-icon-delete"
              size="mini"
              :disabled="multiple"
              @click="handleDelete"
            >删除
            </el-button>
          </el-col>
        </el-row>

        <el-table
          v-loading="loading"
          :data="sysentourageList"
          @selection-change="handleSelectionChange"
        >
          <el-table-column
            type="selection"
            width="55"
            align="center"
          /><el-table-column
            label="关联业主"
            align="center"
            prop="proprietor_id"
            :formatter="proprietor_idFormat"
            width="100"
          >
            <template slot-scope="scope">
              {{ proprietor_idFormat(scope.row) }}
            </template> </el-table-column><el-table-column
            label="成员名字"
            align="center"
            prop="name"
            :show-overflow-tooltip="true"
          /><el-table-column
            label="年龄"
            align="center"
            prop="age"
            :show-overflow-tooltip="true"
          /><el-table-column
            label="身份证号"
            align="center"
            prop="identity_num"
            :show-overflow-tooltip="true"
          /><el-table-column
            label="联系电话"
            align="center"
            prop="phone_num"
            :show-overflow-tooltip="true"
          /><el-table-column
            label="创建时间"
            align="center"
            prop="createdAt"
            :show-overflow-tooltip="true"
          />
          <el-table-column
            label="操作"
            align="center"
            class-name="small-padding fixed-width"
          >
            <template slot-scope="scope">
              <el-button
                v-permisaction="['admin:sysentourage:edit']"
                size="mini"
                type="text"
                icon="el-icon-edit"
                @click="handleUpdate(scope.row)"
              >修改
              </el-button>
              <el-button
                v-permisaction="['admin:sysentourage:remove']"
                size="mini"
                type="text"
                icon="el-icon-delete"
                @click="handleDelete(scope.row)"
              >删除
              </el-button>
            </template>
          </el-table-column>
        </el-table>

        <pagination
          v-show="total > 0"
          :total="total"
          :page.sync="queryParams.pageIndex"
          :limit.sync="queryParams.pageSize"
          @pagination="getList"
        />

        <!-- 添加或修改对话框 -->
        <el-dialog :title="title" :visible.sync="open" width="500px">
          <el-form ref="form" :model="form" :rules="rules" label-width="80px">
            <el-form-item label="关联业主" prop="proprietor_id">
              <el-select v-model="form.proprietor_id" disabled placeholder="请选择">
                <el-option
                  v-for="dict in proprietor_idOptions"
                  :key="dict.key"
                  :label="dict.value"
                  :value="dict.key"
                />
              </el-select>
            </el-form-item>
            <el-form-item label="成员名字" prop="name">
              <el-input v-model="form.name" placeholder="成员名字" />
            </el-form-item>
            <el-form-item label="年龄" prop="age">
              <el-input v-model="form.age" placeholder="年龄" />
            </el-form-item>
            <el-form-item label="身份证号" prop="identity_num">
              <el-input v-model="form.identity_num" placeholder="身份证号" />
            </el-form-item>
            <el-form-item label="联系电话" prop="phone_num">
              <el-input v-model="form.phone_num" placeholder="联系电话" />
            </el-form-item>
            <el-form-item label="微信号" prop="wechat_num">
              <el-input v-model="form.wechat_num" placeholder="微信号" />
            </el-form-item>
            <el-form-item label="qq号" prop="qq_num">
              <el-input v-model="form.qq_num" placeholder="qq号" />
            </el-form-item>
            <el-form-item label="头像" prop="avatar_url">
              <el-input v-model="form.avatar_url" placeholder="头像" />
            </el-form-item>
            <!-- <el-form-item label="关联业主" prop="proprietor_id">
              <el-input v-model="form.proprietor_id" placeholder="关联业主" />
            </el-form-item> -->
          </el-form>
          <div slot="footer" class="dialog-footer">
            <el-button type="primary" @click="submitForm">确 定</el-button>
            <el-button @click="cancel">取 消</el-button>
          </div>
        </el-dialog>
        <FileChoose
          ref="fileChoose"
          :dialog-form-visible="fileOpen"
          @confirm="getImgList"
          @close="fileClose"
        />
      </el-card>
    </template>
  </BasicLayout>
</template>

<script>
import {
  addSysEntourage,
  delSysEntourage,
  getSysEntourage,
  listSysEntourage,
  updateSysEntourage
} from '@/api/sysentourage'
import { listSysProprietor } from '@/api/sysproprietor'

import FileChoose from '@/components/FileChoose'

export default {
  name: 'SysEntourage',
  components: {
    FileChoose
  },
  data() {
    return {
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 总条数
      total: 0,
      // 弹出层标题
      title: '',
      // 是否显示弹出层
      open: false,
      isEdit: false,
      fileOpen: false,
      fileIndex: undefined,
      // 类型数据字典
      typeOptions: [],
      sysentourageList: [],

      // 关系表类型
      proprietor_idOptions: [],

      // 查询参数
      queryParams: {
        pageIndex: 1,
        pageSize: 10,
        name: undefined,
        identity_num: undefined,
        phone_num: undefined,
        proprietor_id: undefined
      },
      // 表单参数
      form: {},
      // 表单校验
      rules: {
        name: [
          { required: true, message: '成员名字不能为空', trigger: 'blur' }
        ],
        identity_num: [
          { required: true, message: '身份证号不能为空', trigger: 'blur' }
        ],
        phone_num: [
          { required: true, message: '联系电话不能为空', trigger: 'blur' }
        ],
        proprietor_id: [
          { required: true, message: '关联业主不能为空', trigger: 'blur' }
        ]
      }
    }
  },
  created() {
    this.getList()
    this.getSysProprietorItems()
  },
  methods: {
    /** 查询参数列表 */
    getList() {
      this.loading = true
      listSysEntourage(
        this.addDateRange(this.queryParams, this.dateRange)
      ).then((response) => {
        this.sysentourageList = response.data.list
        this.total = response.data.count
        this.loading = false
      })
    },
    // 取消按钮
    cancel() {
      this.open = false
      this.reset()
    },
    // 表单重置
    reset() {
      this.form = {
        ID: undefined,
        name: undefined,
        age: undefined,
        identity_num: undefined,
        phone_num: undefined,
        wechat_num: undefined,
        qq_num: undefined,
        avatar_url: undefined,
        proprietor_id: undefined
      }
      this.resetForm('form')
    },
    getImgList: function() {
      this.form[this.fileIndex] = this.$refs[
        'fileChoose'
      ].resultList[0].fullUrl
    },
    fileClose: function() {
      this.fileOpen = false
    },
    proprietor_idFormat(row) {
      return this.selectItemsLabel(
        this.proprietor_idOptions,
        row.proprietor_id
      )
    },
    // 关系
    getSysProprietorItems() {
      this.getItems(listSysProprietor, undefined).then((res) => {
        this.proprietor_idOptions = this.setItems(res, '', '')
      })
    },
    // 文件
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageIndex = 1
      this.getList()
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.dateRange = []
      this.resetForm('queryForm')
      this.handleQuery()
    },
    /** 新增按钮操作 */
    handleAdd() {
      this.reset()
      this.open = true
      this.title = '添加成员管理'
      this.isEdit = false
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map((item) => item.id)
      this.single = selection.length !== 1
      this.multiple = !selection.length
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.reset()
      const ID = row.id || this.ids
      getSysEntourage(ID).then((response) => {
        this.form = response.data
        this.open = true
        this.title = '修改成员管理'
        this.isEdit = true
      })
    },
    /** 提交按钮 */
    submitForm: function() {
      this.$refs['form'].validate((valid) => {
        if (valid) {
          if (this.form.id !== undefined) {
            updateSysEntourage(this.form).then((response) => {
              if (response.code === 200) {
                this.msgSuccess('修改成功')
                this.open = false
                this.getList()
              } else {
                this.msgError(response.msg)
              }
            })
          } else {
            addSysEntourage(this.form).then((response) => {
              if (response.code === 200) {
                this.msgSuccess('新增成功')
                this.open = false
                this.getList()
              } else {
                this.msgError(response.msg)
              }
            })
          }
        }
      })
    },
    /** 删除按钮操作 */
    handleDelete(row) {
      var Ids = (row.id && [row.id]) || this.ids

      this.$confirm('是否确认删除编号为"' + Ids + '"的数据项?', '警告', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      })
        .then(function() {
          return delSysEntourage({ ids: Ids })
        })
        .then(() => {
          this.getList()
          this.msgSuccess('删除成功')
        })
        .catch(function() {})
    }
  }
}
</script>
