
<template>
  <BasicLayout>
    <template #wrapper>
      <el-card class="box-card">
        <el-form
          ref="queryForm"
          :model="queryParams"
          :inline="true"
        >
          <el-form-item
            label="业主名称"
            prop="name"
          ><el-input
            v-model="queryParams.name"
            placeholder="请输入业主名称"
            clearable
            size="small"
            @keyup.enter.native="handleQuery"
          />
          </el-form-item>
          <el-form-item
            label="身份证号"
            prop="identity_num"
          ><el-input
            v-model="queryParams.identity_num"
            placeholder="请输入身份证号"
            clearable
            size="small"
            @keyup.enter.native="handleQuery"
          />
          </el-form-item>
          <el-form-item
            label="手机号"
            prop="phone_num"
          ><el-input
            v-model="queryParams.phone_num"
            placeholder="请输入手机号"
            clearable
            size="small"
            @keyup.enter.native="handleQuery"
          />
          </el-form-item>

          <el-form-item>
            <el-button
              type="primary"
              icon="el-icon-search"
              size="mini"
              @click="handleQuery"
            >搜索</el-button>
            <el-button
              icon="el-icon-refresh"
              size="mini"
              @click="resetQuery"
            >重置</el-button>
          </el-form-item>
        </el-form>

        <el-row :gutter="10" class="mb8">
          <el-col :span="1.5">
            <el-button
              v-permisaction="['admin:sysproprietor:add']"
              type="primary"
              icon="el-icon-plus"
              size="mini"
              @click="handleAdd"
            >新增
            </el-button>
          </el-col>
          <el-col :span="1.5">
            <el-button
              v-permisaction="['admin:sysproprietor:edit']"
              type="success"
              icon="el-icon-edit"
              size="mini"
              :disabled="single"
              @click="handleUpdate"
            >修改
            </el-button>
          </el-col>
          <el-col :span="1.5">
            <el-button
              v-permisaction="['admin:sysproprietor:remove']"
              type="danger"
              icon="el-icon-delete"
              size="mini"
              :disabled="multiple"
              @click="handleDelete"
            >删除
            </el-button>
          </el-col>
        </el-row>

        <el-table
          v-loading="loading"
          :data="sysproprietorList"
          @selection-change="handleSelectionChange"
        >
          <el-table-column
            type="selection"
            width="55"
            align="center"
          /><el-table-column
            label="业主名称"
            align="center"
            prop="name"
            :show-overflow-tooltip="true"
          /><el-table-column
            label="身份证号"
            align="center"
            prop="identity_num"
            :show-overflow-tooltip="true"
          /><el-table-column
            label="手机号"
            align="center"
            prop="phone_num"
            :show-overflow-tooltip="true"
          /><el-table-column
            label="微信号"
            align="center"
            prop="wechat_num"
            :show-overflow-tooltip="true"
          /><el-table-column
            label="QQ号"
            align="center"
            prop="qq_num"
            :show-overflow-tooltip="true"
          /><el-table-column
            label="状态"
            align="center"
            prop="status"
            :formatter="statusFormat"
            width="100"
          >
            <template slot-scope="scope">
              {{ statusFormat(scope.row) }}
            </template> </el-table-column><el-table-column
            label="创建时间"
            align="center"
            prop="createdAt"
            :show-overflow-tooltip="true"
          />
          <el-table-column
            label="操作"
            align="center"
            class-name="small-padding fixed-width"
          >
            <template slot-scope="scope">
              <el-button
                v-if="scope.row.status === 0"
                v-permisaction="['admin:sysproprietor:edit']"
                size="mini"
                type="text"
                icon="el-icon-edit"
                @click="handleCheckIn(scope.row)"
              >入住
              </el-button>
              <el-button
                v-else
                v-permisaction="['admin:sysproprietor:edit']"
                style="color:grey"
                disabled
                size="mini"
                type="text"
                icon="el-icon-edit"
                @click="handleCheckIn(scope.row)"
              >入住
              </el-button>
              <el-button
                v-permisaction="['admin:sysproprietor:edit']"
                size="mini"
                type="text"
                icon="el-icon-edit"
                @click="bindEntourage(scope.row)"
              >绑定成员
              </el-button>
              <el-button
                v-permisaction="['admin:sysproprietor:edit']"
                size="mini"
                type="text"
                icon="el-icon-edit"
                @click="handleUpdate(scope.row)"
              >修改
              </el-button>
              <el-button
                v-permisaction="['admin:sysproprietor:remove']"
                size="mini"
                type="text"
                icon="el-icon-delete"
                @click="handleDelete(scope.row)"
              >删除
              </el-button>
            </template>
          </el-table-column>
        </el-table>

        <pagination
          v-show="total > 0"
          :total="total"
          :page.sync="queryParams.pageIndex"
          :limit.sync="queryParams.pageSize"
          @pagination="getList"
        />

        <!-- 入住 -->
        <el-dialog :title="title" :visible.sync="openCheckIn" width="500px">
          <el-form ref="checkInForm" :model="checkInForm" :rules="rules" label-width="80px">
            <el-form-item label="业主" prop="checkInName">
              <el-input v-model="form.name" disabled placeholder="业主" />
            </el-form-item>
            <el-form-item label="小区" prop="communityId">
              <el-select v-model="checkInForm.communityId" placeholder="请选择" @change="getRoomByCommunity($event)">
                <el-option
                  v-for="dict in communityIdOptions"
                  :key="dict.key"
                  :label="dict.value"
                  :value="dict.key"
                />
              </el-select>
            </el-form-item>
            <el-form-item label="房号" prop="roomId">
              <el-select v-model="checkInForm.roomId" placeholder="请选择">
                <el-option
                  v-for="dict in roomIdOptions"
                  :key="dict.key"
                  :label="dict.value"
                  :value="dict.key"
                />
              </el-select>
            </el-form-item>

            <!-- <el-form-item label="状态" prop="status">
              <el-select v-model="checkInForm.status" placeholder="请选择">
                <el-option
                  v-for="dict in statusOptions"
                  :key="dict.dictValue"
                  :label="dict.dictLabel"
                  :value="dict.dictValue"
                />
              </el-select>
            </el-form-item> -->
          </el-form>
          <div slot="footer" class="dialog-footer">
            <el-button type="primary" @click="submitCheckInForm">确 定</el-button>
            <el-button @click="cancel">取 消</el-button>
          </div>
        </el-dialog>

        <!-- 添加或修改对话框 -->
        <el-dialog :title="title" :visible.sync="open" width="500px">
          <el-form ref="form" :model="form" :rules="rules" label-width="80px">
            <el-form-item label="业主名称" prop="name">
              <el-input v-model="form.name" placeholder="业主名称" />
            </el-form-item>
            <el-form-item label="年龄" prop="age">
              <el-input v-model.number="form.age" placeholder="年龄" />
            </el-form-item>
            <el-form-item label="身份证号" prop="identity_num">
              <el-input v-model="form.identity_num" placeholder="身份证号" />
            </el-form-item>
            <el-form-item label="手机号" prop="phone_num">
              <el-input v-model="form.phone_num" placeholder="手机号" />
            </el-form-item>
            <el-form-item label="微信号" prop="wechat_num">
              <el-input v-model="form.wechat_num" placeholder="微信号" />
            </el-form-item>
            <el-form-item label="QQ号" prop="qq_num">
              <el-input v-model="form.qq_num" placeholder="QQ号" />
            </el-form-item>
            <el-form-item label="头像" prop="avatar_url">
              <el-input v-model="form.avatar_url" placeholder="图片" />
              <el-button
                type="primary"
                @click="fileShowAvatarUrl"
              >选择文件</el-button>
            </el-form-item>
            <el-form-item label="备注" prop="comment">
              <el-input
                v-model="form.comment"
                type="textarea"
                :rows="2"
                placeholder="请输入内容"
              />
            </el-form-item>
          </el-form>
          <div slot="footer" class="dialog-footer">
            <el-button type="primary" @click="submitForm">确 定</el-button>
            <el-button @click="cancel">取 消</el-button>
          </div>
        </el-dialog>

        <!-- 绑定成员 -->
        <el-dialog :title="title" :visible.sync="openEntourage" width="500px">
          <el-form ref="entourageForm" :model="entourageForm" label-width="80px">
            <el-form-item label="业主名字" prop="proprietorName">
              <el-input v-model="form.name" placeholder="业主名称" />
            </el-form-item>
            <el-form-item label="成员名字" prop="name">
              <el-input v-model="entourageForm.name" placeholder="成员名称" />
            </el-form-item>
            <el-form-item label="年龄" prop="age">
              <el-input v-model.number="entourageForm.age" placeholder="年龄" />
            </el-form-item>
            <el-form-item label="身份证号" prop="identity_num">
              <el-input v-model="entourageForm.identity_num" placeholder="身份证号" />
            </el-form-item>
            <el-form-item label="手机号" prop="phone_num">
              <el-input v-model="entourageForm.phone_num" placeholder="手机号" />
            </el-form-item>
            <el-form-item label="微信号" prop="wechat_num">
              <el-input v-model="entourageForm.wechat_num" placeholder="微信号" />
            </el-form-item>
            <el-form-item label="QQ号" prop="qq_num">
              <el-input v-model="entourageForm.qq_num" placeholder="QQ号" />
            </el-form-item>
            <el-form-item label="头像" prop="avatar_url">
              <el-input v-model="entourageForm.avatar_url" placeholder="图片" />
              <el-button
                type="primary"
                @click="fileShowAvatarUrl"
              >选择文件</el-button>
            </el-form-item>
            <el-form-item label="备注" prop="comment">
              <el-input
                v-model="entourageForm.comment"
                type="textarea"
                :rows="2"
                placeholder="请输入内容"
              />
            </el-form-item>
          </el-form>
          <div slot="footer" class="dialog-footer">
            <el-button type="primary" @click="submitEntourageForm">确 定</el-button>
            <el-button @click="cancel">取 消</el-button>
          </div>
        </el-dialog>
        <FileChoose
          ref="fileChoose"
          :dialog-form-visible="fileOpen"
          @confirm="getImgList"
          @close="fileClose"
        />
      </el-card>
    </template>
  </BasicLayout>
</template>

<script>
import {
  addSysProprietor,
  delSysProprietor,
  getSysProprietor,
  listSysProprietor,
  updateSysProprietor,
  updateSysProprietorStatus
} from '@/api/sysproprietor'
import {
  addSysCheck
} from '@/api/syscheck'
import { addSysEntourage, updateSysEntourage } from '@/api/sysentourage'
import { listSysCommunity } from '@/api/syscommunity'

import { listSysRoom } from '@/api/sysroom'
import FileChoose from '@/components/FileChoose'

export default {
  name: 'SysProprietor',
  components: {
    FileChoose
  },
  data() {
    return {
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 总条数
      total: 0,
      // 弹出层标题
      title: '',
      // 是否显示弹出层
      open: false,
      openEntourage: false,
      openCheckIn: false,
      isEdit: false,
      fileOpen: false,
      fileIndex: undefined,
      // 类型数据字典
      typeOptions: [],
      statusOptions: [],
      sysproprietorList: [],

      // 关系表类型
      communityIdOptions: [],
      roomIdOptions: [],
      roomRes: {},

      // 查询参数
      queryParams: {
        pageIndex: 1,
        pageSize: 10,
        name: undefined,
        identity_num: undefined,
        phone_num: undefined
      },
      // 表单参数
      form: {},
      entourageForm: {},
      checkInForm: {},
      // 表单校验
      rules: {
        name: [
          { required: true, message: '业主名称不能为空', trigger: 'blur' }
        ],
        identity_num: [
          { required: true, message: '身份证号不能为空', trigger: 'blur' }
        ],
        phone_num: [
          { required: true, message: '手机号不能为空', trigger: 'blur' }
        ]
      }
    }
  },
  created() {
    this.getSysCommunityItems()

    this.getSysRoomItems()
    this.getList()
    this.getDicts('sys_check_status').then((response) => {
      this.statusOptions = response.data
    })
  },
  methods: {
    /** 查询参数列表 */
    getList() {
      this.loading = true
      listSysProprietor(
        this.addDateRange(this.queryParams, this.dateRange)
      ).then((response) => {
        this.sysproprietorList = response.data.list
        this.total = response.data.count
        this.loading = false
      })
    },
    // 取消按钮
    cancel() {
      this.open = false
      this.openEntourage = false
      this.openCheckIn = false
      this.reset()
    },
    // 表单重置
    reset() {
      this.form = {
        ID: undefined,
        name: undefined,
        age: undefined,
        identity_num: undefined,
        phone_num: undefined,
        wechat_num: undefined,
        qq_num: undefined,
        avatar_url: undefined,
        status: undefined,
        comment: undefined
      }
      this.resetForm('form')
    },
    getImgList: function() {
      this.form[this.fileIndex] = this.$refs[
        'fileChoose'
      ].resultList[0].fullUrl
    },
    fileClose: function() {
      this.fileOpen = false
    },
    // 关系
    communityIdFormat(row) {
      return this.selectItemsLabel(this.communityIdOptions, row.communityId)
    },
    roomIdFormat(row) {
      return this.selectItemsLabel(this.roomIdOptions, row.roomId)
    },
    statusFormat(row) {
      return this.selectDictLabel(this.statusOptions, row.status)
    },
    getSysCommunityItems() {
      this.getItems(listSysCommunity, undefined).then((res) => {
        this.communityIdOptions = this.setItems(res, '', '')
      })
    },
    getSysRoomItems() {
      this.getItems(listSysRoom, undefined).then((res) => {
        // this.roomIdOptions = this.setItems(res, "", "");
        this.roomRes = res
        // console.log(res)
      })
    },
    getRoomByCommunity(key) {
      console.log(key)
      const data = []
      const k = 'id'
      const v = 'name'
      const c = 'community_id'
      if (this.roomRes.data && this.roomRes.data.list && this.roomRes.data.list.length > 0) {
        this.roomRes.data.list.forEach(e => {
          console.log(e)
          if (e[c] === key) {
            data.push({
              key: e[k],
              value: e[v].toString()
            })
          }
        })
        console.log(data)
        this.roomIdOptions = data
      }
    },
    // 文件
    fileShowAvatarUrl: function() {
      this.fileOpen = true
      this.fileIndex = 'avatar_url'
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageIndex = 1
      this.getList()
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.dateRange = []
      this.resetForm('queryForm')
      this.handleQuery()
    },
    /** 新增按钮操作 */
    handleAdd() {
      this.reset()
      this.open = true
      this.title = '添加业主管理'
      this.isEdit = false
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map((item) => item.id)
      this.single = selection.length !== 1
      this.multiple = !selection.length
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.reset()
      const ID = row.id || this.ids
      getSysProprietor(ID).then((response) => {
        this.form = response.data
        this.open = true
        this.title = '修改业主'
        this.isEdit = true
      })
    },

    handleCheckIn(row) {
      this.reset()
      this.openCheckIn = true
      this.title = '入住'
      this.isEdit = false
      this.form.name = row.name
      this.form.id = row.id
    },

    submitCheckInForm() {
      this.$refs['checkInForm'].validate((valid) => {
        if (valid) {
          this.checkInForm.proprietorId = this.form.id
          this.checkInForm.status = 1
          if (this.checkInForm.id !== undefined) {
            this.msgError('表单提交失败')
          } else {
            addSysCheck(this.checkInForm).then((response) => {
              updateSysProprietorStatus({ id: this.checkInForm.proprietorId, status: this.checkInForm.status }).then((res) => {
                if (response.code === 200) {
                  this.msgSuccess('入住成功')
                  this.openCheckIn = false
                  this.getList()
                } else {
                  this.msgError(response.msg)
                }
              })
            })
          }
        }
      })
    },

    bindEntourage(row) {
      this.reset()
      const ID = row.id || this.ids
      getSysProprietor(ID).then((response) => {
        this.form = response.data
        this.openEntourage = true
        this.title = '绑定成员'
        this.isEdit = true
      })
    },
    submitEntourageForm: function() {
      this.$refs['entourageForm'].validate((valid) => {
        if (valid) {
          this.entourageForm.proprietor_id = this.form.id
          if (this.entourageForm.id !== undefined) {
            updateSysEntourage(this.entourageForm).then((response) => {
              if (response.code === 200) {
                this.msgSuccess('修改成功')
                this.openEntourage = false
                // this.getList();
              } else {
                this.msgError(response.msg)
              }
            })
          } else {
            addSysEntourage(this.entourageForm).then((response) => {
              if (response.code === 200) {
                this.msgSuccess('新增成功')
                this.openEntourage = false
                // this.getList();
              } else {
                this.msgError(response.msg)
              }
            })
          }
        }
      })
    },
    /** 提交按钮 */
    submitForm: function() {
      this.$refs['form'].validate((valid) => {
        if (valid) {
          if (this.form.id !== undefined) {
            updateSysProprietor(this.form).then((response) => {
              if (response.code === 200) {
                this.msgSuccess('修改成功')
                this.open = false
                this.getList()
              } else {
                this.msgError(response.msg)
              }
            })
          } else {
            addSysProprietor(this.form).then((response) => {
              if (response.code === 200) {
                this.msgSuccess('新增成功')
                this.open = false
                this.getList()
              } else {
                this.msgError(response.msg)
              }
            })
          }
        }
      })
    },
    /** 删除按钮操作 */
    handleDelete(row) {
      var Ids = (row.id && [row.id]) || this.ids

      this.$confirm('是否确认删除编号为"' + Ids + '"的数据项?', '警告', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      })
        .then(function() {
          return delSysProprietor({ ids: Ids })
        })
        .then(() => {
          this.getList()
          this.msgSuccess('删除成功')
        })
        .catch(function() {})
    }
  }
}
</script>
