
<template>
  <BasicLayout>
    <template #wrapper>
      <el-card class="box-card">
        <el-form
          ref="queryForm"
          :model="queryParams"
          :inline="true"
        >
          <el-form-item
            label="房号"
            prop="room_id"
          ><el-select v-model="form.room_id" placeholder="请选择">
            <el-option
              v-for="dict in room_idOptions"
              :key="dict.key"
              :label="dict.value"
              :value="dict.key"
            />
          </el-select>
          </el-form-item>
          <el-form-item
            label="费用类型"
            prop="fee_type_id"
          ><el-select v-model="form.fee_type_id" placeholder="请选择">
            <el-option
              v-for="dict in fee_type_idOptions"
              :key="dict.key"
              :label="dict.value"
              :value="dict.key"
            />
          </el-select>
          </el-form-item>
          <el-form-item
            label="状态"
            prop="status"
          ><el-select
            v-model="queryParams.status"
            placeholder="其他账单状态"
            clearable
            size="small"
          >
            <el-option
              v-for="dict in statusOptions"
              :key="dict.dictValue"
              :label="dict.dictLabel"
              :value="dict.dictValue"
            />
          </el-select>
          </el-form-item>
          <el-form-item
            label="完成时间"
            prop="finishTime"
          ><el-input
            v-model="queryParams.finishTime"
            placeholder="请输入完成时间"
            clearable
            size="small"
            @keyup.enter.native="handleQuery"
          />
          </el-form-item>
          <el-form-item
            label="创建时间"
            prop="createdAt"
          ><el-input
            v-model="queryParams.createdAt"
            placeholder="请输入创建时间"
            clearable
            size="small"
            @keyup.enter.native="handleQuery"
          />
          </el-form-item>

          <el-form-item>
            <el-button
              type="primary"
              icon="el-icon-search"
              size="mini"
              @click="handleQuery"
            >搜索</el-button>
            <el-button
              icon="el-icon-refresh"
              size="mini"
              @click="resetQuery"
            >重置</el-button>
          </el-form-item>
        </el-form>

        <el-row :gutter="10" class="mb8">
          <!-- <el-col :span="1.5">
            <el-button
              v-permisaction="['admin:sysotherbill:add']"
              type="primary"
              icon="el-icon-plus"
              size="mini"
              @click="handleAdd"
              >新增
            </el-button>
          </el-col>
          <el-col :span="1.5">
            <el-button
              v-permisaction="['admin:sysotherbill:edit']"
              type="success"
              icon="el-icon-edit"
              size="mini"
              :disabled="single"
              @click="handleUpdate"
              >修改
            </el-button>
          </el-col> -->
          <el-col :span="1.5">
            <el-button
              v-permisaction="['admin:sysotherbill:remove']"
              type="danger"
              icon="el-icon-delete"
              size="mini"
              :disabled="multiple"
              @click="handleDelete"
            >删除
            </el-button>
          </el-col>
        </el-row>

        <el-table
          v-loading="loading"
          :data="sysotherbillList"
          @selection-change="handleSelectionChange"
        >
          <el-table-column
            type="selection"
            width="55"
            align="center"
          /><el-table-column
            label="房号"
            align="center"
            prop="room_id"
            :formatter="room_idFormat"
            width="100"
          >
            <template slot-scope="scope">
              {{ room_idFormat(scope.row) }}
            </template> </el-table-column><el-table-column
            label="业主"
            align="center"
            prop="proprietor"
            :show-overflow-tooltip="true"
          /><el-table-column
            label="费用类型"
            align="center"
            prop="fee_type_id"
            :formatter="fee_type_idFormat"
            width="100"
          >
            <template slot-scope="scope">
              {{ fee_type_idFormat(scope.row) }}
            </template> </el-table-column><el-table-column
            label="今次度数"
            align="center"
            prop="new_degree"
            :show-overflow-tooltip="true"
          /><el-table-column
            label="今次读时"
            align="center"
            prop="new_read_time"
            :show-overflow-tooltip="true"
          /><el-table-column
            label="应收账款"
            align="center"
            prop="acc_receivable"
            :show-overflow-tooltip="true"
          /><el-table-column
            label="状态"
            align="center"
            prop="status"
            :formatter="statusFormat"
            width="100"
          >
            <template slot-scope="scope">
              {{ statusFormat(scope.row) }}
            </template> </el-table-column><el-table-column
            label="完成时间"
            align="center"
            prop="finishTime"
            :show-overflow-tooltip="true"
          /><el-table-column
            label="创建时间"
            align="center"
            prop="createdAt"
            :show-overflow-tooltip="true"
          />
          <el-table-column
            label="操作"
            align="center"
            class-name="small-padding fixed-width"
          >
            <template slot-scope="scope">
              <el-button
                v-permisaction="['admin:sysotherbill:edit']"
                size="mini"
                type="text"
                icon="el-icon-edit"
                @click="handleUpdate(scope.row)"
              >查看
              </el-button>
              <el-button
                v-permisaction="['admin:sysotherbill:remove']"
                size="mini"
                type="text"
                icon="el-icon-delete"
                @click="handleDelete(scope.row)"
              >删除
              </el-button>
            </template>
          </el-table-column>
        </el-table>

        <pagination
          v-show="total > 0"
          :total="total"
          :page.sync="queryParams.pageIndex"
          :limit.sync="queryParams.pageSize"
          @pagination="getList"
        />

        <!-- 添加或修改对话框 -->
        <el-dialog :title="title" :visible.sync="open" width="500px">
          <el-form ref="form" :model="form" :rules="rules" label-width="80px">
            <el-form-item label="房号" prop="room_id">
              <el-select v-model="form.room_id" disabled placeholder="请选择">
                <el-option
                  v-for="dict in room_idOptions"
                  :key="dict.key"
                  :label="dict.value"
                  :value="dict.key"
                />
              </el-select>
            </el-form-item>
            <el-form-item label="业主" prop="proprietor">
              <el-input v-model="form.proprietor" disabled placeholder="业主" />
            </el-form-item>
            <el-form-item label="费用类型" prop="fee_type_id">
              <el-select v-model="form.fee_type_id" disabled placeholder="请选择">
                <el-option
                  v-for="dict in fee_type_idOptions"
                  :key="dict.key"
                  :label="dict.value"
                  :value="dict.key"
                />
              </el-select>
            </el-form-item>
            <el-form-item label="上次度数" prop="last_degree">
              <el-input v-model="form.last_degree" disabled placeholder="上次度数" />
            </el-form-item>
            <el-form-item label="今次度数" prop="new_degree">
              <el-input v-model="form.new_degree" disabled placeholder="今次度数" />
            </el-form-item>
            <el-form-item label="上次读时" prop="last_read_time">
              <el-date-picker
                v-model="form.last_read_time"
                disabled
                type="datetime"
                placeholder="选择日期"
              />
            </el-form-item>
            <el-form-item label="今次读时" prop="new_read_time">
              <el-date-picker
                v-model="form.new_read_time"
                type="datetime"
                disabled
                placeholder="选择日期"
              />
            </el-form-item>
            <el-form-item label="应收账款" prop="acc_receivable">
              <el-input v-model="form.acc_receivable" disabled placeholder="应收账款" />
            </el-form-item>
            <el-form-item label="状态" prop="status">
              <el-select v-model="form.status" disabled placeholder="请选择">
                <el-option
                  v-for="dict in statusOptions"
                  :key="dict.dictLabel"
                  :label="dict.dictLabel"
                  :value="dict.dictValue * 1"
                />
              </el-select>
            </el-form-item>
          </el-form>
          <div slot="footer" class="dialog-footer">
            <!-- <el-button type="primary" @click="submitForm">确 定</el-button> -->
            <el-button @click="cancel">取 消</el-button>
          </div>
        </el-dialog>
        <FileChoose
          ref="fileChoose"
          :dialog-form-visible="fileOpen"
          @confirm="getImgList"
          @close="fileClose"
        />
      </el-card>
    </template>
  </BasicLayout>
</template>

<script>
import {
  addSysOtherBill,
  delSysOtherBill,
  getSysOtherBill,
  listSysOtherBill,
  updateSysOtherBill
} from '@/api/sysotherbill'
import { listSysRoom } from '@/api/sysroom'

import { listSysFeeSetting } from '@/api/sysfeesetting'

import FileChoose from '@/components/FileChoose'

export default {
  name: 'SysOtherBill',
  components: {
    FileChoose
  },
  data() {
    return {
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 总条数
      total: 0,
      // 弹出层标题
      title: '',
      // 是否显示弹出层
      open: false,
      isEdit: false,
      fileOpen: false,
      fileIndex: undefined,
      // 类型数据字典
      typeOptions: [],
      sysotherbillList: [],
      statusOptions: [],
      // 关系表类型
      room_idOptions: [],
      fee_type_idOptions: [],

      // 查询参数
      queryParams: {
        pageIndex: 1,
        pageSize: 10,
        room_id: undefined,
        fee_type_id: undefined,
        status: undefined,
        finishTime: undefined,
        createdAt: undefined
      },
      // 表单参数
      form: {},
      // 表单校验
      rules: {
        room_id: [{ required: true, message: '房号不能为空', trigger: 'blur' }],
        fee_type_id: [
          { required: true, message: '费用类型不能为空', trigger: 'blur' }
        ],
        status: [{ required: true, message: '状态不能为空', trigger: 'blur' }],
        finishTime: [
          { required: true, message: '完成时间不能为空', trigger: 'blur' }
        ],
        createdAt: [
          { required: true, message: '创建时间不能为空', trigger: 'blur' }
        ]
      }
    }
  },
  created() {
    this.getList()
    this.getSysRoomItems()

    this.getSysFeeSettingItems()

    this.getDicts('sys_bill_status').then((response) => {
      this.statusOptions = response.data
    })
  },
  methods: {
    /** 查询参数列表 */
    getList() {
      this.loading = true
      listSysOtherBill(
        this.addDateRange(this.queryParams, this.dateRange)
      ).then((response) => {
        this.sysotherbillList = response.data.list
        this.total = response.data.count
        this.loading = false
      })
    },
    // 取消按钮
    cancel() {
      this.open = false
      this.reset()
    },
    // 表单重置
    reset() {
      this.form = {
        ID: undefined,
        room_id: undefined,
        proprietor: undefined,
        fee_type_id: undefined,
        last_degree: undefined,
        new_degree: undefined,
        last_read_time: undefined,
        new_read_time: undefined,
        acc_receivable: undefined,
        acc_receipts: undefined,
        status: undefined,
        finishTime: undefined
      }
      this.resetForm('form')
    },
    getImgList: function() {
      this.form[this.fileIndex] = this.$refs[
        'fileChoose'
      ].resultList[0].fullUrl
    },
    fileClose: function() {
      this.fileOpen = false
    },
    room_idFormat(row) {
      return this.selectItemsLabel(this.room_idOptions, row.room_id)
    },
    fee_type_idFormat(row) {
      return this.selectItemsLabel(this.fee_type_idOptions, row.fee_type_id)
    },
    statusFormat(row) {
      return this.selectDictLabel(this.statusOptions, row.status)
    },
    // 关系
    getSysRoomItems() {
      this.getItems(listSysRoom, undefined).then((res) => {
        this.room_idOptions = this.setItems(res, '', '')
      })
    },
    getSysFeeSettingItems() {
      this.getItems(listSysFeeSetting, undefined).then((res) => {
        this.fee_type_idOptions = this.setItems(res, '', '')
      })
    },
    // 文件
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageIndex = 1
      this.getList()
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.dateRange = []
      this.resetForm('queryForm')
      this.handleQuery()
    },
    /** 新增按钮操作 */
    handleAdd() {
      this.reset()
      this.open = true
      this.title = '添加其他账单'
      this.isEdit = false
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map((item) => item.id)
      this.single = selection.length !== 1
      this.multiple = !selection.length
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.reset()
      const ID = row.id || this.ids
      getSysOtherBill(ID).then((response) => {
        this.form = response.data
        this.open = true
        this.title = '修改其他账单'
        this.isEdit = true
      })
    },
    /** 提交按钮 */
    submitForm: function() {
      this.$refs['form'].validate((valid) => {
        if (valid) {
          if (this.form.id !== undefined) {
            updateSysOtherBill(this.form).then((response) => {
              if (response.code === 200) {
                this.msgSuccess('修改成功')
                this.open = false
                this.getList()
              } else {
                this.msgError(response.msg)
              }
            })
          } else {
            addSysOtherBill(this.form).then((response) => {
              if (response.code === 200) {
                this.msgSuccess('新增成功')
                this.open = false
                this.getList()
              } else {
                this.msgError(response.msg)
              }
            })
          }
        }
      })
    },
    /** 删除按钮操作 */
    handleDelete(row) {
      var Ids = (row.id && [row.id]) || this.ids

      this.$confirm('是否确认删除编号为"' + Ids + '"的数据项?', '警告', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      })
        .then(function() {
          return delSysOtherBill({ ids: Ids })
        })
        .then(() => {
          this.getList()
          this.msgSuccess('删除成功')
        })
        .catch(function() {})
    }
  }
}
</script>
