
<template>
  <BasicLayout>
    <template #wrapper>
      <el-card class="box-card">
        <el-form
          ref="queryForm"
          :model="queryParams"
          :inline="true"
        >
          <el-form-item
            label="所属小区"
            prop="community_id"
          ><el-select v-model="queryParams.community_id" placeholder="请选择">
            <el-option
              v-for="dict in community_idOptions"
              :key="dict.key"
              :label="dict.value"
              :value="dict.key * 1"
            />
          </el-select>
          </el-form-item>
          <el-form-item
            label="房屋号码"
            prop="name"
          ><el-input
            v-model="queryParams.name"
            placeholder="请输入房屋号码"
            clearable
            size="small"
            @keyup.enter.native="handleQuery"
          />
          </el-form-item>
          <el-form-item
            label="户型"
            prop="room_type"
          ><el-select
            v-model="queryParams.room_type"
            placeholder="户型"
            clearable
            size="small"
          >
            <el-option
              v-for="dict in room_typeOptions"
              :key="dict.dictValue"
              :label="dict.dictLabel"
              :value="dict.dictValue * 1"
            />
          </el-select>
          </el-form-item>
          <el-form-item
            label="是否是商店"
            prop="is_shop"
          ><el-select
            v-model="queryParams.is_shop"
            placeholder="是否是商店"
            clearable
            size="small"
          >
            <el-option
              v-for="dict in is_shopOptions"
              :key="dict.dictValue"
              :label="dict.dictLabel"
              :value="dict.dictValue * 1"
            />
          </el-select>
          </el-form-item>

          <el-form-item>
            <el-button
              type="primary"
              icon="el-icon-search"
              size="mini"
              @click="handleQuery"
            >搜索</el-button>
            <el-button
              icon="el-icon-refresh"
              size="mini"
              @click="resetQuery"
            >重置</el-button>
          </el-form-item>
        </el-form>

        <el-row :gutter="10" class="mb8">
          <el-col :span="1.5">
            <el-button
              v-permisaction="['admin:sysroom:add']"
              type="primary"
              icon="el-icon-plus"
              size="mini"
              @click="handleAdd"
            >新增
            </el-button>
          </el-col>
          <el-col :span="1.5">
            <el-button
              v-permisaction="['admin:sysroom:edit']"
              type="success"
              icon="el-icon-edit"
              size="mini"
              :disabled="single"
              @click="handleUpdate"
            >修改
            </el-button>
          </el-col>
          <el-col :span="1.5">
            <el-button
              v-permisaction="['admin:sysroom:remove']"
              type="danger"
              icon="el-icon-delete"
              size="mini"
              :disabled="multiple"
              @click="handleDelete"
            >删除
            </el-button>
          </el-col>
        </el-row>

        <el-table
          v-loading="loading"
          :data="sysroomList"
          @selection-change="handleSelectionChange"
        >
          <el-table-column
            type="selection"
            width="55"
            align="center"
          />
          <el-table-column
            label="所属小区"
            align="center"
            prop="community_id"
            :formatter="community_idFormat"
            width="100"
          >
            <template slot-scope="scope">
              {{ community_idFormat(scope.row) }}
            </template> </el-table-column>
          <el-table-column
            label="房屋号码"
            align="center"
            prop="name"
            :show-overflow-tooltip="true"
          /><el-table-column
            label="总面积"
            align="center"
            prop="total_area"
            :show-overflow-tooltip="true"
          /><el-table-column
            label="楼层"
            align="center"
            prop="floor"
            :show-overflow-tooltip="true"
          /><el-table-column
            label="户型"
            align="center"
            prop="room_type"
            :formatter="room_typeFormat"
            width="100"
          >
            <template slot-scope="scope">
              {{ room_typeFormat(scope.row) }}
            </template> </el-table-column><el-table-column
            label="是否是商店"
            align="center"
            prop="is_shop"
            :formatter="is_shopFormat"
            width="100"
          >
            <template slot-scope="scope">
              {{ is_shopFormat(scope.row) }}
            </template> </el-table-column><el-table-column
            label="押金"
            align="center"
            prop="deposit"
            :show-overflow-tooltip="true"
          /><el-table-column
            label="租金"
            align="center"
            prop="rent"
            :show-overflow-tooltip="true"
          /><el-table-column
            label="创建时间"
            align="center"
            prop="createdAt"
            :show-overflow-tooltip="true"
          />
          <el-table-column
            label="操作"
            align="center"
            class-name="small-padding fixed-width"
          >
            <template slot-scope="scope">
              <el-button
                v-permisaction="['admin:sysroom:edit']"
                size="mini"
                type="text"
                icon="el-icon-edit"
                @click="handleUpdate(scope.row)"
              >修改
              </el-button>
              <el-button
                v-permisaction="['admin:sysroom:remove']"
                size="mini"
                type="text"
                icon="el-icon-delete"
                @click="handleDelete(scope.row)"
              >删除
              </el-button>
            </template>
          </el-table-column>
        </el-table>

        <pagination
          v-show="total > 0"
          :total="total"
          :page.sync="queryParams.pageIndex"
          :limit.sync="queryParams.pageSize"
          @pagination="getList"
        />

        <!-- 添加或修改对话框 -->
        <el-dialog :title="title" :visible.sync="open" width="600px">
          <el-form ref="form" :model="form" :rules="rules" label-width="100px">
            <el-form-item label="所属小区" prop="community_id">
              <el-select v-model="form.community_id" placeholder="请选择">
                <el-option
                  v-for="dict in community_idOptions"
                  :key="dict.key"
                  :label="dict.value"
                  :value="dict.key"
                />
              </el-select>
            </el-form-item>
            <el-form-item label="房屋号码" prop="name">
              <el-input v-model="form.name" placeholder="房屋名字" />
            </el-form-item>
            <el-form-item label="总面积" prop="total_area">
              <el-input v-model.number="form.total_area" placeholder="总面积" />
            </el-form-item>

            <el-form-item label="楼层" prop="floor">
              <el-input v-model.number="form.floor" placeholder="楼层" />
            </el-form-item>
            <el-form-item label="户型" prop="room_type">
              <el-select v-model="form.room_type" placeholder="请选择">
                <el-option
                  v-for="dict in room_typeOptions"
                  :key="dict.dictValue"
                  :label="dict.dictLabel"
                  :value="dict.dictValue * 1"
                />
              </el-select>
            </el-form-item>
            <el-form-item label="是否是商店" prop="is_shop">
              <el-select v-model="form.is_shop" placeholder="请选择">
                <el-option
                  v-for="dict in is_shopOptions"
                  :key="dict.dictValue"
                  :label="dict.dictLabel"
                  :value="dict.dictValue * 1"
                />
              </el-select>
            </el-form-item>
            <el-form-item label="押金" prop="deposit">
              <el-input v-model.number="form.deposit" placeholder="押金" />
            </el-form-item>
            <el-form-item label="租金" prop="rent">
              <el-input v-model.number="form.rent" placeholder="租金" />
            </el-form-item>
            <el-form-item label="备注" prop="comment">
              <el-input
                v-model="form.comment"
                type="textarea"
                :rows="2"
                placeholder="请输入内容"
              />
            </el-form-item>
          </el-form>
          <div slot="footer" class="dialog-footer">
            <el-button type="primary" @click="submitForm">确 定</el-button>
            <el-button @click="cancel">取 消</el-button>
          </div>
        </el-dialog>
        <FileChoose
          ref="fileChoose"
          :dialog-form-visible="fileOpen"
          @confirm="getImgList"
          @close="fileClose"
        />
      </el-card>
    </template>
  </BasicLayout>
</template>

<script>
import {
  addSysRoom,
  delSysRoom,
  getSysRoom,
  listSysRoom,
  updateSysRoom
} from '@/api/sysroom'
import { listSysCommunity } from '@/api/syscommunity'

import FileChoose from '@/components/FileChoose'

export default {
  name: 'SysRoom',
  components: {
    FileChoose
  },
  data() {
    return {
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 总条数
      total: 0,
      // 弹出层标题
      title: '',
      // 是否显示弹出层
      open: false,
      isEdit: false,
      fileOpen: false,
      fileIndex: undefined,
      // 类型数据字典
      typeOptions: [],
      sysroomList: [],
      room_typeOptions: [],
      is_shopOptions: [],
      // 关系表类型
      community_idOptions: [],

      // 查询参数
      queryParams: {
        pageIndex: 1,
        pageSize: 10,
        name: undefined,
        address: undefined,
        room_type: undefined,
        is_shop: undefined,
        building_id: undefined,
        community_id: undefined
      },
      // 表单参数
      form: {},
      // 表单校验
      rules: {
        name: [
          { required: true, message: '房屋名字不能为空', trigger: 'blur' }
        ],
        room_type: [
          { required: true, type: 'number', message: '户型不能为空', trigger: 'blur' }
        ],
        is_shop: [
          { required: true, message: '是否是商店不能为空', trigger: 'blur' }
        ],
        community_id: [
          { required: true, message: '所属小区不能为空', trigger: 'blur' }
        ],
        deposit: [
          { required: true, type: 'number', message: '请输入数字' }
        ],
        rent: [
          { required: true, type: 'number', message: '请输入数字' }
        ]
      }
    }
  },
  created() {
    this.getList()
    this.getDicts('sys_room_type').then((response) => {
      this.room_typeOptions = response.data
    })

    this.getDicts('sys_one_zero').then((response) => {
      this.is_shopOptions = response.data
    })
    this.getSysCommunityItems()
  },
  methods: {
    /** 查询参数列表 */
    getList() {
      this.loading = true
      listSysRoom(this.addDateRange(this.queryParams, this.dateRange)).then(
        (response) => {
          this.sysroomList = response.data.list
          this.total = response.data.count
          this.loading = false
        }
      )
    },
    // 取消按钮
    cancel() {
      this.open = false
      this.reset()
    },
    // 表单重置
    reset() {
      this.form = {
        ID: undefined,
        name: undefined,
        address: undefined,
        total_area: undefined,
        comment: undefined,
        floor: undefined,
        room_type: undefined,
        is_shop: undefined,
        deposit: undefined,
        rent: undefined,
        building_id: undefined,
        community_id: undefined
      }
      this.resetForm('form')
    },
    getImgList: function() {
      this.form[this.fileIndex] = this.$refs[
        'fileChoose'
      ].resultList[0].fullUrl
    },
    fileClose: function() {
      this.fileOpen = false
    },
    room_typeFormat(row) {
      console.log(this.room_typeOptions)
      return this.selectDictLabel(this.room_typeOptions, row.room_type)
    },
    is_shopFormat(row) {
      return this.selectDictLabel(this.is_shopOptions, row.is_shop)
    },
    community_idFormat(row) {
      return this.selectItemsLabel(this.community_idOptions, row.community_id)
    },
    // 关系
    getSysCommunityItems() {
      this.getItems(listSysCommunity, undefined).then((res) => {
        this.community_idOptions = this.setItems(res, '', '')
      })
    },
    // 文件
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageIndex = 1
      this.getList()
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.dateRange = []
      this.resetForm('queryForm')
      this.handleQuery()
    },
    /** 新增按钮操作 */
    handleAdd() {
      this.reset()
      this.open = true
      this.title = '添加房屋管理'
      this.isEdit = false
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map((item) => item.id)
      this.single = selection.length !== 1
      this.multiple = !selection.length
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.reset()
      const ID = row.id || this.ids
      getSysRoom(ID).then((response) => {
        this.form = response.data
        this.open = true
        this.title = '修改房屋管理'
        this.isEdit = true
      })
    },
    /** 提交按钮 */
    submitForm: function() {
      console.log(this.room_typeOptions)
      this.$refs['form'].validate((valid) => {
        if (valid) {
          if (this.form.id !== undefined) {
            updateSysRoom(this.form).then((response) => {
              if (response.code === 200) {
                this.msgSuccess('修改成功')
                this.open = false
                this.getList()
              } else {
                this.msgError(response.msg)
              }
            })
          } else {
            addSysRoom(this.form).then((response) => {
              if (response.code === 200) {
                this.msgSuccess('新增成功')
                this.open = false
                this.getList()
              } else {
                this.msgError(response.msg)
              }
            })
          }
        }
      })
    },
    /** 删除按钮操作 */
    handleDelete(row) {
      var Ids = (row.id && [row.id]) || this.ids

      this.$confirm('是否确认删除编号为"' + Ids + '"的数据项?', '警告', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      })
        .then(function() {
          return delSysRoom({ ids: Ids })
        })
        .then(() => {
          this.getList()
          this.msgSuccess('删除成功')
        })
        .catch(function() {})
    }
  }
}
</script>
